<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add Blogs</h1>
    <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
        <img src="" alt="" id="snipped">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" id="add" value="Add">

    </form>
    {% comment %} <!-- <div class="form-group">
            <label for="title">title</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="tags">Tags</label>
            {{ form.tags }}
        </div>
        <div class="form-group">
            <label for="referral">Referral</label>
            {{ form.referral }}
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            {{ form.content }}
        </div> --> {% endcomment %}
    <style>
        #snipped {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            object-fit: cover;
        }
    </style>
    <script>

        {% comment %} const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
        );
        let title = document.getElementById('title');
        let image = document.getElementById('image');
        let content = document.getElementById('content');
        let referral = document.getElementById('referral');
        image.accept = 'media/BlogImages';
        title.value = '';
        content.value = '';
        image.value = '';
        referral.value = '';
        document.getElementById("snipped").src = '';
        document.querySelector('#id_author').value = '';

        print(image)
        ///media/BlogImages/

        image.addEventListener('change', e => {
            let filer = e.target.files[0];
            let reader = new FileReader();
            reader.onload = function (event) {
                document.getElementById("snipped").src = event.target.result;
            };
            reader.readAsDataURL(filer);
            window.filer = filer
        })





        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        title.value = '';
        content.value = '';
        image.value = '';
        referral.value = '';
        document.getElementById("snipped").src = '';
        document.querySelector('#id_author').value = '';
        }
        ); {% endcomment %}

    </script>
</body>

</html>