<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>INSA</title>
</head>
<body>
    <div class="catagory">
        <h2 class="catagory__heading">
            Our Blogs
        </h2>
        <div class="catagory__content">
            {%for blogs in blog %}
                 
            <div class="catagory__item">
                <img src="{{blogs.image.url}}" alt="" class="catagory__item__image">
                <h3 class="catagory__item__text"><a href="{%url 'blog-detail' blogs.pk %}">{{blogs.title}}</a></h3>
            </div>
            {%endfor%}
        </div>
    </div>





</body>
</html>