<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav style="display: flex;">
        <div class="wrapper" style="display: flex;">
            <input type="text" name="searchInput" id="srchInp">
            <div class="dropdown">
                <div class="currently"></div>
                <div class="lists">
                    <button class="list" id="all">All</button>
                    <button class="list" id="title">Title</button>
                    <button class="list" id="username">Username</button>
                    <button class="list" id="description">Description</button>
                </div>
            </div>
        </div>
        <a href="{%url 'add-blogs' %}" class="addBlog">Add New Blog</a>
    </nav>

    <!-- </form> -->
    <div class="catagory">
        <h2 class="catagory__heading" style="background-color: white;">
            Our News
        </h2>
        <div class="catagory__content">
            <p class="noresult"
                style="position: absolute;font-weight: bolder;color: gray;font-size: 2rem;top: 5rem;left: 50%;transform: translateX(-50%);z-index: -1;">
            </p>
            {%for new in news %}
            <div class="catagory__item" style="background-color: white;">
                <img src="{{new.image.url}}" alt="" class="catagory__item__image">
                <h3 class="catagory__item__text"><a href="{%url 'news-detail' new.pk %}">{{new.title}}</a>
                    <p>{{new.author.username}}</p>
                </h3>
                <p class="short">{{new.content|slice:20}}...</p>
            </div>
            {%endfor%}
        </div>
    </div>
    <script>
        let titles = document.querySelectorAll('.catagory__item__text a');
        titles = [...titles]
        let username = document.querySelectorAll('.catagory__item__text p');
        username = [...username]
        let desc = document.querySelectorAll('.short');
        desc = [...desc]
        console.log(titles)
        let spans = document.querySelectorAll('.lists button');
        spans = [...spans]

        let currently = document.querySelector('.currently');
        currently.innerText = 'All'
        spans.forEach(span => {
            span.onclick = () => {
                currently.innerText = span.innerText;
            }
        })
        let inp = document.querySelector('#srchInp');
        let noresult = document.querySelector('.noresult');
        inp.addEventListener('keyup', () => {
            if (currently.innerText == 'All') {
                username.forEach((usernames) => {
                    titles.forEach((title) => {
                        desc.forEach((descs) => {
                            if (usernames.innerText.search(inp.value) == -1 && title.innerText.search(inp.value) == -1 && descs.textContent.search(inp.value) == -1) {
                                usernames.parentElement.parentElement.style.display = 'none'
                            } else {
                                usernames.parentElement.parentElement.style.display = 'block'
                            }
                        })
                    })
                });
                // if () {
                //     title.parentElement.parentElement.style.display = 'none'

                // } else {
                //     title.parentElement.parentElement.style.display = 'block'
                // }



            } else if (currently.innerText == 'Username') {
                noresult.innerHTML = `username "${inp.value}" does not exist`;
                username.forEach((usernames, index) => {
                    if (usernames.innerText.search(inp.value) == -1) {
                        usernames.parentElement.parentElement.style.display = 'none'
                    } else {
                        usernames.parentElement.parentElement.style.display = 'block'
                    }
                });

            } else if (currently.innerText == 'Title') {
                noresult.innerHTML = `Blog with title "${inp.value}" not found...<a style="text-decoration: none;" href="{%url 'add-blogs' %}">Add Blog ${inp.value}</a>`;
                titles.forEach((title, index) => {
                    if (title.innerText.search(inp.value) == -1) {
                        title.parentElement.parentElement.style.display = 'none'
                    } else {
                        title.parentElement.parentElement.style.display = 'block'
                    }

                });
            } else if (currently.innerText == 'Description') {
                noresult.innerHTML = `Blog with description "${inp.value}" not found...<a style="text-decoration: none;" href="{%url 'add-blogs' %}">Add Blog ${inp.value}</a>`;
                desc.forEach((descs, index) => {
                    if (descs.textContent.search(inp.value) == -1) {
                        descs.parentElement.style.display = 'none'
                    } else {
                        descs.parentElement.style.display = 'block'
                    }

                });
            }
        })
    </script>
</body>

</html>